.options {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .option {
    padding: 10px 15px;
    cursor: pointer;

    &.option-drop-down {
      position: relative;

      & .user-logged-in-links {
        position: absolute;
        left: -100px;
        top: 42px;
        width: 200px;
        height: auto;
        padding: 10px 15px;
        border: 1px solid #000;
        background-color: #fff;
        z-index: 9;
        opacity: 0;
        visibility: hidden;
      }

      &:hover {
        & .user-logged-in-links {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}
