.cart-dropdown {
  position: absolute;
  width: 240px;
  height: auto;
  max-height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #000;
  background-color: #fff;
  top: 80px;
  right: 60px;
  z-index: 9;

  .empty-message {
    font-size: 18px;
    margin: 50px auto 35px auto;
  }

  .cart-items {
    height: auto;
    max-height: 240px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  button {
    margin-top: auto;
  }
}
